InstagramClone.xcodeproj/project.xcworkspace
InstagramClone.xcodeproj/xcuserdata
InstagramClone.xcodeproj/project.xcworkspace/xcuserdata
InstagramClone.xcodeproj/project.xcworkspace/InstagramClone.xcworkspace
InstagramClone.xcworkspace/contents.xcworkspacedata
InstagramClone.xcworkspace/xcuserdata
InstagramClone.xcworkspace
InstagramClone.xcworkspace/xcshareddata
Pods
*.DS_Store
.DS_Store
Podfile.lock
